{% extends "layout.html" %}
{% block content %}
<div class="table-responsive">
    <table class="table user-list">
        <thead>
            <tr>
                <th class="text-center"><span>Id</span></th>
                <th class="text-center"><span>Address</span></th>
                <th class="text-center"><span>Lat</span></th>
                <th class="text-center"><span>Lon</span></th>
                <th class="text-center"><span>Subscribe</span></th>
            </tr>
        </thead>
        <tbody>
            <h1 class="text-center">Current Stock Overview</h1>
            <br>
            {% for address in addresses %}
            <tr>
                <td class="text-center">{{ address[0] }}<br></td>
                <td class="text-center">{{ address[1] }}</td>
                <td class="text-center">{{ address[2] }}</td>
                <td class="text-center">{{ address[3] }}</td>
                <td class="text-center">
                    <span class="label label-default "><a href="/{{ address[0] }}">link</a></span>
                </td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
{% endblock %}



