{% extends "layout.html" %}
{% block content %}


<div class="table-responsive">
  <table class="table user-list">
    <thead>
      <tr>
        <th class="text-center"><span>Email</span></th>
        <th class="text-center"><span>Subscribed At</span></th>
      </tr>
    </thead>
    <tbody>
      <h1 class="text-center">Subscribe for {{ address[0][1] }}</h1>
      <p class="text-center">
        Sign up for {{ address[0][1] }} by entering your email. When a spot comes available, you will 
        recieve an email.</br>
        We will remove your entry afterwards, feel free to sign up again if you missed it or if you need a spot again!
      </p>
      <div class="text-center">
        <form action="{{ url_for('insights_page',id=id) }}", method="post">
          <label for="email">Email</label><br>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" required><br>
          <input type="submit" value="Submit">
        </form>
      <div class="text-center">
        <p>
          {% if available is not none %}   
            Currently available: {{ available }}
          {% else %}
            Currently available: Unknown - subscribe to find out!
          {% endif %}
        </p>
      </div>
      </div>
      <h3 class="text-center">Current Subscriptions for this charger in last 4 hours</h3>
      <br>
      {% for trigger in triggers %}
      <tr>
        <td class="text-center">Anonymous</td>
        <td class="text-center">{{ trigger[2] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}